body {
    background-color: rgb(41, 41, 41);
    color: white;
    font: 1rem Sans-Serif;
    width: 15rem;
    margin: 20px;
  }
  
  h1,
  p {
    font-size: 1.2rem;
    margin: 10px 0px;
  }

  .button-64 {
    background-color: rgb(5, 6, 45);
    font: 0.8rem Sans-Serif; 
    align-items: center;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 1px;
    cursor: pointer;
  
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  }
  
  .button-64:active,
  .button-64:hover {
    background-color: rgb(64, 64, 64);
  }
  
  .button-64 span {
    background: none;
    padding: 6px 10px;
  }