body {
    background-color: rgb(21, 21, 21);
    color: white;
    font: 1rem 'Open Sans', sans-serif;
    width: 20rem;
  }
  
  ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
  }
  
  h3,
  p {
    margin: 10;
  }